<h2><%= @index_title.menu_name %></h2>
<div class="top-body">
  <div class="new-list">
    <ul>
      <li>新規、更新を行なった場合に表示させる(desc)</li>
      <li>リストをクリックすると該当ページに遷移</li>
      <li>10件表示</li>
    </ul>
  </div>
</div>
